body {
    font-size: 30%;
    text-align: center;
    background-color: coral;
}

h1 {
    font-size: 1.5em;
    color: white;
    margin-bottom: 20px;
}

code {
    font-size: 4px;
}

fieldset {
    text-align: right;
    width: 150px;
    height: 80px;
    margin: 0 auto;
}

fieldset #calcola {
    width: 60px;
    font-size: 5px;
}

input {
    width: 50px;
    height: 5px;
    text-align: start;
}